.topLayerCard {
    margin: 1rem;
    width: 400px;
}

.exerciseSets {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 0.5rem;
}

.exerciseSet {
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    font-size: 0.95rem;
    border: 2px solid #7e7e7e;
    background-color: #515151;
}
