.container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.editCard {
    display: flex;
    gap: 0.5rem;
}

.nameInput {
    min-width: 300px;
}

.saveButton {
    font-weight: bold;
    border-width: 2px;
    border-color: #696969;
    margin: 0.2rem;
}

.saveButton:hover {
    background-color: #202362;
}

.saveButton:active {
    border-color: #9497d9;
    background-color: #2e3393;
}
