.topLayerCard {
    margin: 1rem;
    width: 500px;
}

.exerciseSets {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 0.5rem;
}

.exerciseSet {
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    font-size: 0.95rem;
    border: 2px solid #717171;
    background-color: #515151;
}

.setHeader {
    color: #909090;
    font-weight: bold;
}

.updownButton {
    color: #777777;
    background-color: #2f2839;
    margin: 5px;
}

.updownButton:hover {
    background-color: #3d344a;
    color: #a4a4a4;
}
.updownButton:active {
    background-color: #7344c0;
    border-color: aqua;
    color: #8aedff;
}

.updownButton2 {
    color: #777777;
    background-color: #1b1d28;
    margin: 5px;
}

.updownButton2:hover {
    background-color: #20212e;
    color: #60f5f7;
}
.updownButton2:active {
    background-color: #333048;
    border-color: rgb(153, 255, 255);
    color: #8aedff;
}

.inputBoxMed {
    color: rgb(170, 255, 221);
}

.inputBoxMed {
    color: rgb(170, 255, 221);
}

.inputBoxSmall {
    color: rgb(198, 165, 255);
    max-width: 40px;
}

.inputBoxSmallBlue {
    color: rgb(174, 194, 253);
    max-width: 20px;
}

.exerciseCard {
    border: 2px solid #474749;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    background-color: #1f1f1f;
}

.exerciseCard:hover {
    background-color: #212121;
    border-color: rgb(96, 96, 96);
}
.exerciseCard:active {
    background-color: #242424;
    border-color: rgb(126, 126, 126);
}
