.navItemButton {
    margin: 0.8rem;
    border-color: rgb(58, 134, 109);
}

.navItemButton:hover {
    margin: 0.8rem;
    border-color: aquamarine;
    background-color: rgb(4, 92, 62);
}

.navItemButton:active {
    margin: 0.8rem;
    border-color: rgb(170, 255, 227);
    background-color: rgb(12, 167, 115);
}

.navItem {
    margin: 0.8rem;
    border-color: rgb(58, 134, 109);
}

.navBox {
    display: flex;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border-width: 0.2rem;
    border-color: rgb(81, 81, 81);
    border-style: solid;
    border-radius: 1rem;
}
